{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./src/index.css",
  "tailwindFunctions": ["clsx","tw"],
  "tailwindPreserveWhitespace": false,
  "tailwindPreserveDuplicates": true
}
